html,
body {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif;
    background-color: var(--theme-color-neutral);
    color: var(--theme-color-on-neutral);
}

body > div {
    position: absolute;
    width: 100%;
    height: 100%;
}
